{% extends 'base.html.twig' %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Voting board</h1>
    <h2>User registration</h2>
</div>
<div class="container">
{{ form_start(form) }}
{{ form_end(form) }}
</div>
{% endblock %}